# Apple specific files
.DS_Store

# Log directory, Log files and Lock files
/logs/
*.log
*.lock

# Backup files
*~
#*#
*.bak
*Kopie*

# Maven build directories
/target/

# JavaScript Node Modules
/javascript/node_modules/

# JavaScript executables
/javascript/app-linux
/javascript/app-macos
/javascript/app-win.exe

# Data directories
/data/

# Secrets
config.secret.properties
config.secret.enc

